javaproject/client/src/wsdl/ServiceFeux.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Services.hub.service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Services.hub.service/" name="ServiceFeux">
<types>
<xsd:schema>
<xsd:import namespace="http://Services.hub.service/" schemaLocation="http://localhost:8081/ServiceFeux?xsd=1"/>
</xsd:schema>
</types>
<message name="setFeux">
<part name="parameters" element="tns:setFeux"/>
</message>
<message name="setFeuxResponse">
<part name="parameters" element="tns:setFeuxResponse"/>
</message>
<message name="getFeuxTemp">
<part name="parameters" element="tns:getFeuxTemp"/>
</message>
<message name="getFeuxTempResponse">
<part name="parameters" element="tns:getFeuxTempResponse"/>
</message>
<message name="setFeuxTemp">
<part name="parameters" element="tns:setFeuxTemp"/>
</message>
<message name="setFeuxTempResponse">
<part name="parameters" element="tns:setFeuxTempResponse"/>
</message>
<portType name="ServiceFeux">
<operation name="setFeux">
<input wsam:Action="http://Services.hub.service/ServiceFeux/setFeuxRequest" message="tns:setFeux"/>
<output wsam:Action="http://Services.hub.service/ServiceFeux/setFeuxResponse" message="tns:setFeuxResponse"/>
</operation>
<operation name="getFeuxTemp">
<input wsam:Action="http://Services.hub.service/ServiceFeux/getFeuxTempRequest" message="tns:getFeuxTemp"/>
<output wsam:Action="http://Services.hub.service/ServiceFeux/getFeuxTempResponse" message="tns:getFeuxTempResponse"/>
</operation>
<operation name="setFeuxTemp">
<input wsam:Action="http://Services.hub.service/ServiceFeux/setFeuxTempRequest" message="tns:setFeuxTemp"/>
<output wsam:Action="http://Services.hub.service/ServiceFeux/setFeuxTempResponse" message="tns:setFeuxTempResponse"/>
</operation>
</portType>
<binding name="ServiceFeuxPortBinding" type="tns:ServiceFeux">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="setFeux">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFeuxTemp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setFeuxTemp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiceFeux">
<port name="ServiceFeuxPort" binding="tns:ServiceFeuxPortBinding">
<soap:address location="http://localhost:8081/ServiceFeux"/>
</port>
</service>
</definitions>